@CHARSET "EUC-KR";

/* 위젯추가 팝업 */
.widget_add_table100 { width: 100%;}
.widget_add_table100  td {vertical-align: top;}


.widget_add_table100 .titleL{ 
	background:#3e8cca; 
	height:30px; 	
	width:250px; 
	margin:11px 5px 3px 0px; 
    text-indent:10px;
    line-height:30px;
	color:white; 
	font-weight: bold;	
	vertical-align: middle; }
	
.widget_add_table100 .titleR { 
	background:#3e8cca; 
	height:30px; 	
	width:272px; 
	margin:11px 0px 3px 0px; 
    text-indent:10px;
    line-height:30px;
	color:white; 
	font-weight: bold;	
	vertical-align: middle; } 	

.widget_add_table100 .titleR span {
	float: right;
	margin-right: 11px;
}

.widget_add_table100 .titleS{ 
	background:#3e8cca; 
	height:25px; 	
	width:250px; 
	margin:11px 2px 2px 0px; 
    text-indent:10px;
    line-height:25px;
	color:white; 
	font-weight: bold;	
	vertical-align: middle; }	
	
.widget_add_table100 .title_sub{ 
	background:#ebebeb; 
	height:35px; 	
	width:250px; 
	margin:0px 2px 2px 0px; 
    line-height:35px;
	vertical-align: middle;
	text-align:center; }	
	
.btn_bottom	{ width: 272px; margin:8px 0px 2px 0px; position: absolute; top: 311px;}
.btn_bottom2	{ width: 272px; margin:8px 0px 2px 0px;}
.widget_select_table { width: 272px; 	margin:0px 0px 2px 0px;  background:#e2f2fe; height:30px;  line-height:30px;  }
.widget_select_table  td { height: 30px; line-height:30px; }
.widget_select_table  tr+tr { border-top: 3px solid #fff}
.widget_select_table  .notop { border-top: none;}

.widget_select_table .head {background:#c8e7fe; width:100px; display: inline-block; text-align:center; }
.widget_select_table .select_c {margin:0px 20px;}

.widget_select_table .list {
	vertical-align: top;
	overflow: auto;
	overflow-y: auto;
	border: solid 1px #999;
	width: 154px;
	height: 178px;
	display: inline-block;
	margin: 3px 6px 5px 6px;
	background-color: #fff;
	text-indent: 5px;
    line-height: 16px;	
    display: inline-block;    
}

.widget_add_table100 .thumbnail {border: solid 1px #ccc; height:160px;	width:248px; margin:2px 2px 5px 0px; vertical-align: middle; text-align:center; font-weight: bold; padding-top:5px; color:#777;	}
.widget_add_table100 .top12{padding-top:12px}
.widget_add_table100 .top6{padding-top:6px}
.widget_summery_table {width: 250px; margin:3px 2px 6px 0px; }
.widget_summery_table  .txt{ color:#666; background:#ebebeb; padding: 4px 2px 2px 6px; height:66px; overflow-y:auto;  line-height: 15px;}

.widget_popup_Textarea	{ border: solid 1px #999; width:250px; margin:0px 2px 2px 0; height:266px; padding: 3px 0px 0px 6px; font-size: 13px;}
.widget_popup_Select	{ border: solid 1px #999; width:160px; margin:2px 2px 2px 0; height:23px;}
.widget_add_btn { width:146px;}
.widget_popup_Select	{ border: solid 1px #999; width:150px; margin:2px 2px 3px 6px; height:23px;}
.widget_add_btn { width:132px;}
.widget_add_btn2 { width:131px;}


/* 위젯 메뉴 */
.widget_menu { 	width:100%; }
.widget_menu .StartLine  {height: 2px; background-color: #e3e3e3;}
.widget_menu .EndLine { height: 2px; background-color: #e3e3e3;}
.widget_menu .menu {margin: 5px 10px 3px 10px; }
.widget_menu .menu .margin {margin-right: 4px; }
.widget_menu .menu .menuR {float:right; display: inline-block; vertical-align: top;}
.widget_menu .menu .menuR .addBtn {margin:-3px 0 3px 0; display: inline-block; -webkit-vertical-align: top; -ms-vertical-align: none;}
.widget_inputText	{ border: solid 1px #bebebe; height: 18px; padding-left: 4px; margin-top:-1px;}
.widget_inputText2	{ border: solid 1px #bebebe; height: 18px; padding-left: 4px; margin-top:-1px; width: 230px !important;}
.widget_select		{ border: solid 1px #bebebe; height: 22px; margin-top:-1px;}
.widget_menu .menu .favorite_txt {height:15px; vertical-align: middle;}
.widget_menu .menu .favorite_title {height:15px; vertical-align: middle; color:#333;}

.widget_menu .menu .favorite a:link {
	color: #f00;
	text-decoration: none; 
}
.widget_menu .menu .favorite a:visited {
	color: #0066ff;
	text-decoration: none;
}
.widget_menu .menu .favorite a:hover {
	color: #0066ff;
	text-decoration: underline; 
}
.widget_menu .menu .favorite a:active {
	color: #0066ff;
	text-decoration: underline; 
}
.favorite_Rankings  {
max-width: 160px;
vertical-align: middle;
display: inline-block; 
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
table-layout: fixed;
margin-right: 5px;
}

/* header */
.DashBoardHeader {
	width: 100%;
	height: 31px;
	background-image: url(../../imgs/dashboard_eng/header_bg.png);
}
.DashBoardHeader .logo2 {
	padding-left: 10px;
	margin-bottom: 10px;		
}

.inputCheckbox { border: solid 1px #a8e8fd; height: 18px; padding-right: 4px; margin-top:2px;  }
.Refresh .auto {
    vertical-align: bottom;
	display: inline-block;}
.Refresh .btn {
	display: inline-block;}
.Refresh .btn2 {
	display: inline-block; margin-left:3px;}		
.Refresh { height:15px;  color:#333; float:right; margin: 4px 10px 5px 0; font-size:11px; display: inline-block;}	
.Refresh_timestamp {
	margin-bottom: -2px;
    line-height: 26px;
    float: right;
    color: #777;
    padding-right: 7px;
    font-size: 11px; 
}

/* Content */
.printArea #col4 {
	position: absolute;
	top: -9999px;
	left: -9999px;
}


 .column { width : 100%; min-width: 1250px; /*max-width: 2000px;*/ float: left; padding-right: 10px; margin-left: 8px;}
 .widget_box { width: 405px;}
 .portlet { margin: 0px 3px 6px 3px; float: left;}
 .portlet-header { 
 	padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 4px;
    padding-right: 8px;
    }
 .portlet-header .ui-icon { float: right; margin: 2px; }
 .portlet-content { padding: 0.8em 0em 1em 0em; }
 .portlet-content-chart { padding: 20px 0.6em 1em 0.2em; }
 .portlet-content1 { padding: 0 0 0 0; } 
 .ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 100px!important; }
 .ui-sortable-placeholder * { visibility: hidden; }
 
/*
.top {
	/* background:#fff;
	padding: 5px 10px;
	position: absolute;
    display: inline;	   		
	height: 200px;
    margin-top: 0px;    
    margin-right:0px;
    float:right !important;    
    border:1px solid #ccc;       
    }
*/ 
  
 .dashboard_device {margin: 11px 0px 0px 80px; }

 .portlet-content .widget_table { 
	width:100%;
	min-width: 360px;
	font-size: 11px;
	color:#333;	
    border:0px solid #ccc;
	}
 .widget_table th {background:#ffffff; height: 22px; border-bottom: 2px solid #ccc;	letter-spacing: -1px;}
 .widget_table tr {line-height: 20px;}
 .widget_table  th+th { border: 0px solid #ccc; border-bottom: 2px solid #ccc;}
 .widget_table  td+td { border: 0px solid #ccc;}
 .widget_table  tr+tr { border: 0px solid #ccc;}
 .widget_table tr.Endline{height: 2px; background-color: #ccc !important; }
 .widget_table .noline { border-bottom: 1px solid #ccc;} 
 .odd {background:#eeeeee} 
 .even {background:#fff} 
 .widget_table  .ContentsLine1 { height: 25px; background-color: #fff;}
 .widget_table  .ContentsLine1:hover { background-color: #e4f8ff;}
 .widget_table .text-align-left10 {padding-left:10px;}
 .widget_table .text-align-center{text-align:center;}


 .widget_table .center{text-align:center}
 .widget_table .left10 { text-align: left; text-indent: 5px;}

 .widget_tableSmall{	width:100%; }
/*.dashboardLogRowSelection { background-color: #f00 !important; } */

 .portlet-content .widget_div_fault_1 { 
	width: 100%;
    font-size: 11px;
    color: #333;
    /* border: 1px solid #ccc; */
    border-top: 2px solid #e3ab14;
    margin-top: 2px;
    background-image: url(../imgs/dashboard_eng/bullet_01.png	);
    background-repeat: no-repeat;
    background-position: 15px -2px;
    display: inline-block;
	}
 .portlet-content .widget_div_fault_1 p { 
	padding: 63px 2px 2px 37px;
    line-height: 13px; 
	}
		
 .portlet-content .widget_div_fault_2 { 
	width: 100%;
    font-size: 11px;
    color: #333;
    /* border: 1px solid #ccc; */
    border-top: 2px solid #e3ab14;
    margin-top: 2px;
   	background-image: url(../../imgs/dashboard_eng/bullet_02.png	); 
    background-repeat: no-repeat;
    background-position: 15px -2px;
    display: inline-block;    
	}
 .portlet-content .widget_div_fault_2 p { 
	padding: 63px 2px 2px 37px;
    line-height: 13px; 
	}		
.adcmonitoring{		
	margin-top: 5px;		
	text-align: center;
	color:#666666;
}
.adcmonitoring .title{
	display: inline-block;
	font-size: 11px;
    width: 111px;
 	height: 16px;
 	margin: -1px 15px;				
}
.adcmonitoring .Total{	
	display: inline-block;			   	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard_eng/all_progress.gif	);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 
    color:#858585;}

.adcmonitoring .Green_0{	
	display: inline-block;			    	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/all_progress.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
    
.adcmonitoring .Green_10{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_10.gif);	
	Line-height: 116px;  	
	font-size: 26px;	
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 	
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
    color:#547418;}
 
.adcmonitoring .Green_20{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_20.gif);
	Line-height: 116px;  	
	font-size: 26px;	
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:bold; 
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 					
    color:#547418;}
 
.adcmonitoring .Green_30{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_30.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.adcmonitoring .Green_40{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_40.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#547418;}
 
.adcmonitoring .Green_50{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_50.gif);	
	Line-height: 116px;  	
	font-size: 26px;	
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#547418;}
 
.adcmonitoring .Green_60{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_60.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.adcmonitoring .Green_70{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_70.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 	
    color:#547418;}
 
.adcmonitoring .Green_80{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_80.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.adcmonitoring .Green_90{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_90.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.adcmonitoring .Green_100{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/green_progress_100.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.adcmonitoring .Red_0{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/all_progress.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
 
.adcmonitoring .Red_10{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_10.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  		
    color:#993939;}

.adcmonitoring .Red_20{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_20.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_30{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_30.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_40{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_40.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_50{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_50.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_60{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_60.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_70{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_70.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_80{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_80.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_90{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_90.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.adcmonitoring .Red_100{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 15px;	
	background-image: url(../imgs/dashboard/red_progress_100.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}

.faultmonitoring{
	margin-top: 60px;	
	text-align: center;		
	font-size: 26px;
	letter-spacing: -1px;
	font-weight:600; 
	font-family: initial;		
}
.faultmonitoring .one{	
	display: inline-block;			
	position:relative;     	
    width: 186px;
    height: 70px;
	background-image: url(../imgs/dashboard/alerts_bg01.gif);  
	margin: 0 1px;	
	color: 	#645429;
}
.faultmonitoring .two{
	display: inline-block;			
	position:relative;     	
    width: 186px;
    height: 70px;
	background-image: url(../imgs/dashboard/alerts_bg02.gif);  	
	margin: 0 1px;	
	color: #264865;
}
.faultmonitoring .three{		
	display: inline-block;			
	position:relative;     	
    width: 186px;
    height: 70px;
	background-image: url(../imgs/dashboard/alerts_bg03.gif); 
	margin: 0 1px;	
    color:#993939;}

.vsmonitoring{
	margin-top: 5px;		
	text-align: center;
	font-family: initial;		
}
.vsmonitoring .title{
	display: inline-block;
	font-size: 11px;
    width: 111px;
 	height: 16px;
 	margin: -1px 10px;		
}

.vsmonitoring .Total{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/all_progress.gif	);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 
    color:#858585;}	

.vsmonitoring .Green_0{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/all_progress.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
   
.vsmonitoring .Green_10{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_10.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
   
.vsmonitoring .Green_20{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_20.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#547418;}
    
.vsmonitoring .Green_30{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_30.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
   
.vsmonitoring .Green_40{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_40.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
   
.vsmonitoring .Green_50{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_50.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  		
    color:#547418;}
   
.vsmonitoring .Green_60{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_60.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
    
.vsmonitoring .Green_70{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_70.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  	
    color:#547418;}
 
.vsmonitoring .Green_80{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_80.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.vsmonitoring .Green_90{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_90.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}
 
.vsmonitoring .Green_100{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/green_progress_100.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#547418;}

.vsmonitoring .Red_0{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/all_progress.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#993939;}
    
.vsmonitoring .Red_10{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_10.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_20{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_20.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_30{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_30.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#993939;}
  
.vsmonitoring .Red_40{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_40.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#993939;}
  
.vsmonitoring .Red_50{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_50.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_60{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_60.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_70{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_70.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_80{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_80.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  		
    color:#993939;}
  
.vsmonitoring .Red_90{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_90.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#993939;}
  
.vsmonitoring .Red_100{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/red_progress_100.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  	
    color:#993939;} 

.vsmonitoring .Gray_0{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/all_progress.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 	
    color:#3c3c3c;} 
    
.vsmonitoring .Gray_10{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_10.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#3c3c3c;} 
    
.vsmonitoring .Gray_20{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_20.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  			
    color:#3c3c3c;} 

.vsmonitoring .Gray_30{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_30.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#3c3c3c;} 

.vsmonitoring .Gray_40{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_40.gif);		
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600;  	
    color:#3c3c3c;} 

.vsmonitoring .Gray_50{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_50.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#3c3c3c;} 

.vsmonitoring .Gray_60{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_60.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#3c3c3c;} 

.vsmonitoring .Gray_70{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_70.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#3c3c3c;} 

.vsmonitoring .Gray_80{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_80.gif);
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 			
    color:#3c3c3c;} 

.vsmonitoring .Gray_90{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_90.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#3c3c3c;} 

.vsmonitoring .Gray_100{	
	display: inline-block;			
	position:relative;     	
    width: 111px;
    height: 111px;
	margin: 0 10px;	
	background-image: url(../imgs/dashboard/gray_progress_100.gif);	
	Line-height: 116px;  	
	font-size: 26px;
	text-shadow: 1px 1px 2px #fff;	
	letter-spacing: -1px;
	font-weight:600; 		
    color:#3c3c3c;} 

.sub_title {font-weight: lighter; color:#333;}

.printArea {width: 100%; 	background:#ffffff; 
	height:100%;  bottom:0px	}
	
 #div_widgetscale {
    -moz-transform: scale(0.65, 0.65) translateX()-32px, 0px); /* FIREFOX */
    -webkit-transform: scale(0.65, 0.65) translate(-32px, 0px); /* SAFARI, CHROME */
    -o-transform: scale(0.65, 0.65) translate(-32px, 0px); /* OPERA */
    -ms-transform: scale(0.65, 0.65) translate(-32px, 0px); /* EXPLORER */    
    transform: scale(0.65, 0.65) translate(-32px, 0px); 
    -moz-transform-origin: top left; 
    -webkit-transform-origin: top left; 
    -o-transform-origin: top left; 
    -ms-transform-origin: top left; 
    transform-origin: top left;      
       }	
 #div_widgetscaleF5 {
    -moz-transform: scale(0.65, 0.65) translateX()-32px, 10px); /* FIREFOX */
    -webkit-transform: scale(0.65, 0.65) translate(-32px, 10px); /* SAFARI, CHROME */
    -o-transform: scale(0.65, 0.65) translate(-32px, 10px); /* OPERA */
    -ms-transform: scale(0.65, 0.65) translate(-32px, 10px); /* EXPLORER */    
    transform: scale(0.65, 0.65) translate(-32px, 10px); 
    -moz-transform-origin: top left; 
    -webkit-transform-origin: top left; 
    -o-transform-origin: top left; 
    -ms-transform-origin: top left; 
    transform-origin: top left;      
       }       
.tabbg {background-color: #fff;  width:100%; border-bottom: 1px solid #ccc ; height: 21px;}
/*- Duration_tabs --------------------------- */
ul.Duration_tabs {
	margin: 10px 0px 0px 0px;
	padding: 0;
	height: 20px; /*--Set height of tabs--*/
	width:100%;
}
ul.Duration_tabs li {
	float: right;
	margin: 0;
	padding: 0;
	height: 20px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 20px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #ccc;
	border-right: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background-color: #fff;
}
ul.Duration_tabs li a {
	z-index:99;
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1 em;
	padding: 0 8px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.Duration_tabs li a:hover {
	background-color: #f3f3f3;
}

/*- 상태알리미 위젯 --------------------------- */

.status_notification {
	padding:  1px 1px; 
	display: inline-block; 
	text-align:center; 
    margin-bottom: -2px;
    margin-top: 7px;
	vertical-align: top;  	
    min-height: 57px;	
  	}
.status_notification p {
	width: 116px; 
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
	line-height: 11px; 
	font-size: 11px;
	}
	
.status_notification .show {
	width: 40px;
    height: 30px;
    color: #333;
    display: inline-block;
  	}
  		
.status_notification .adc_conn {
	background-image: url(../imgs/icon/icon_1d_conn_L.png);
    background-repeat: no-repeat;   	
  	}
.status_notification .adc_caution {
	background-image: url(../imgs/icon/icon_1d_caution_L.png);
    background-repeat: no-repeat;	
  	}
.status_notification .adc_disconn {
	background-image: url(../imgs/icon/icon_1d_disconn_L.png);
    background-repeat: no-repeat;	
  	}  	

.status_notification .vs_conn {
	background-image: url(../imgs/icon/icon_vs_conn_L.png);
    background-repeat: no-repeat;  	
    background-position: 5px 0px;
  	}
.status_notification .vs_caution {
	background-image: url(../imgs/icon/icon_vs_caution_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;  	
  	}
.status_notification .vs_disconn {
	background-image: url(../imgs/icon/icon_vs_disconn_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;   	
  	}  
.status_notification .vs_disabled {
	background-image: url(../imgs/icon/icon_vs_disabled_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;  
}

.status_notification .flb_conn {
	background-image: url(../imgs/icon/icon_flb_conn_L.png);
    background-repeat: no-repeat;  	
    background-position: 5px 0px;
  	}
.status_notification .flb_caution {
	background-image: url(../imgs/icon/icon_flb_caution_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;  	
  	}
.status_notification .flb_disconn {
	background-image: url(../imgs/icon/icon_flb_disconn_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;   	
  	}  
.status_notification .flb_disabled {
	background-image: url(../imgs/icon/icon_flb_disabled_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;  
}

 .status_notification .member_conn {
	background-image: url(../imgs/icon/icon_2d_1_L.png);
    background-repeat: no-repeat;     
    background-position: 5px 0px;      	
  	}
.status_notification .member_disconn {
	background-image: url(../imgs/icon/icon_2d_2_L.png);
    background-repeat: no-repeat;	
    background-position: 5px 0px;   
  	}
.status_notification .member_disabled {
	background-image: url(../imgs/icon/icon_2d_0_L.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;   	
  	}  
  	
  	
.status_notification  a:link {color:#636363;}
.status_notification a:visited {color:#636363;}
.status_notification a:hover {color:#0066ff;} 	