@charset "utf-8";
/* CSS Document */
@import url("reset.css");
 
/* 텍스트 정렬 */
.right {text-align:right !important;}
.center {text-align:center !important;}
.left {text-align:left !important;}

/* float 관련 클래스 */
.f_left {float:left !important;}	
.f_left_M {float:left !important; margin-top:4px;!important;}	
.f_right {float:right !important;}
.clear {clear:both !important;}

/* 폰트 관련 클래스 */
/*.bold {font-weight:bold !important;}
.font_normal {font-weight:normal !important;}
.underline {text-decoration:underline !important;}*/

/* Display 관련 클래스 */
.block {display:block !important;}
.inlineBlock {display:inline-block !important ;}
.inline {display:inline !important ;}

/* none 관련 클래스 */
.none {display:none !important;}
.none_bg {background:none !important;}
.none_bg_img {background-image:none !important;}
.none_mar {margin:0 !important;}
.none_mt {margin-top:0 !important;}
.none_mr {margin-right:0 !important;}
.none_ml {margin-left:0 !important;}
.none_mb {margin-bottom:0 !important;}
.none_pad {padding:0 !important;}
.none_pt {padding-right:0 !important;}
.none_pr {padding-right:0 !important;}
.none_pl {padding-left:0 !important;}
.none_pb {padding-bottom:0 !important;}
.none_bor {border:none 0 !important;}
.none_bt {border-top:none 0 !important;}
.none_br {border-right:none 0 !important;}
.none_bl {border-left:none 0 !important;}
.none_bb {border-bottom:none 0 !important;}
.none_lft {left:0px !important;}
.none_bg_rgt {border-right:none 0 !important;}
.none_bor_btm {border-bottom:none 0 !important;}

/* 마진 관련 클래스 */
.mar_lft1p {margin-left:1% !important;}
.mar_lft5 {margin-left:5px !important;}
.mar_lft10 {margin-left:10px !important;}
.mar_lft20 {margin-left:20px !important;}
.mar_lft30 {margin-left:30px !important;}
.mar_lft40 {margin-left:40px !important;}
.mar_lft60 {margin-left:60px !important;}
.mar_lft80 {margin-left:80px !important;}
.mar_lft100 {margin-left:100px !important;}
.mar_lft132 {margin-left:132px !important;}
.mar_lft150 {margin-left:150px !important;}
.mar_lft200 {margin-left:200px !important;}
.mar_rgt5 {margin-right:5px !important;}
.mar_rgt10 {margin-right:10px !important;}
.mar_rgt15 {margin-right:15px !important;}
.mar_rgt20 {margin-right:20px !important;}
.mar_top1p {margin-top:1% !important;}
.mar_top5 {margin-top:5px !important;}
.mar_top26 {margin-top:26px !important;}
.mar_top10 {margin-top:10px !important;}
.mar_topm10 {margin-top:-10px !important;}
.mar_top10 {margin-top:10px !important;}
.mar_top20 {margin-top:20px !important;}
.mar_top50 {margin-top:50px !important;}
.mar_top100 {margin-top:100px !important;}
.mar_top150 {margin-top:150px !important;}
.mar_btm5 {margin-bottom:5px !important;}
.mar_btm10 {margin-bottom:10px !important;}
.mar_btm25 {margin-bottom:25px !important;}
.mar_btm35 {margin-bottom:35px !important;}
.mar_10 {margin:10px !important;}
.mar_50 {margin:50px !important;}
.mar_hor_1p {margin:0 1% !important;}
.mar_hor_2p {margin:0 2% !important;}
.mar_vir_5 {margin:5px 0 !important;}

.mar_rgt_10 {margin-right:10px !important;}
.mar_rgt_1p {margin-right:1% !important;}
.mar_rgt_2p {margin-right:2% !important;}

/* 패딩 관련 클래스 */
.pad_10 {padding:10px !important;}
.pad_tb5 {padding:5px 0 !important;}
.pad_top5 {padding-top:5px !important;}
.pad_top10 {padding-top:10px !important;}
.pad_top20 {padding-top:20px !important;}
.pad_top50 {padding-top:50px !important;}
.pad_top100 {padding-top:100px !important;}
.pad_lft10 {padding-left:10px !important;}
.pad_btm10 {padding-bottom:10px !important;}
.pad_b10 {padding-bottom:10px !important;}

/* 넓이 관련 클래스 */
.wid_100pc {width:100% !important;}
.wid_50px {width:50px !important;}

/* 보더 관련 클래스 */
.bor_btm_4a { border-bottom:2px solid #4a4a4a !important;}
.bor_rgt_222 { border-right:1px solid #222 !important;}
.bor_rgt_e5 { border-right:1px solid #e5e5e5 !important;}
.bor_top_3b { border-top:2px solid #3b3b3b !important;}

/* 위치 관련 클래스 */
.lft_300 {left:300px !important;}

/* 기타 */
.cur_pointer {cursor:pointer !important;}
.cur_default {cursor:default !important;}
.color_black {color:#000 !important;}
.color_white {color:#fff !important;}
.color_blue {color:#00f !important;}
.color_red {color:#ec3902 !important;}
.color_e5d9a1 {color:#e5d9a1 !important;}
.color_0024db {color:#0024db !important;}

/* pattern Box-Layout */
.patn {margin:0 15px;}
.patn p {font-size:1.2em; font-weight:bold; color:#1525b6; clear:both;}

/* 배경색상 관련 클래스 */
.bg_white {background-color:#fff !important;}
.bg_eee {background-color:#eee !important;}

.src_wrap {margin-top:100px;}
.src_wrap p {margin-top:30px; font-size:1.2em; font-weight:bold; color:#1525b6;}

/* overflow 관련 클래스 */
.hidden {overflow:hidden !important;}
.blind {left:0; top:0; width:1px; height:1px; line-height:0; overflow:hidden; font-size:0px; visibility:hidden; position:absolute;}

/* 수직관련 클래스 */
.v_top {vertical-align:top !important;}
.v_btm {vertical-align:bottom !important;}

/* position 클래스 */
.pos_abso {position:absolute !important;}
.pos_rela {position:relative !important;}

/* letter-spacing 클래스*/
.let_sp30 {letter-spacing:-0.03em !important;}
.let_sp80 {letter-spacing:-1px !important;}

/* float clear 클래스 */
.clearfix:after {content:''; visibility:hidden; height:0; clear:both; display:block;}


/* 추가 */
.mar_top20 {margin-top:20px !important;}
.mar_top7 {margin-top:7px !important;}
.mar_btm6 {margin-bottom:6px !important;}
.mar_rgt6 {margin-right:6px !important;}
.mar_rgtp20 {margin-right:20%; !important;}

.color_fae005 {color:#b1890d !important;} /* 노랑 */
.color_e50c0c {color:#e50c0c !important;} /* 빨강 */
.color_ec3902 {color:#ec3902 !important;} /* 빨강 */
.color_0e36ff {color:#0e36ff !important;} /* 파랑 */
.color_2c4ac6 {color:#2c4ac6 !important;} /* 파랑 */
.color_222 {color:#222 !important;}
.color_267dff {color:#267dff !important;} /* 파랑 */
.color_0000ff {color:#0000ff !important;} /* 파랑 */

.color_4861c8 {color:#4861c8 !important;} /* 데시보드용 */

.let_s250 {letter-spacing:0.25em !important;}
.let_spm120 {letter-spacing:-0.12em !important;}
.let_spm130 {letter-spacing:-0.15em !important;}

.textOver {white-space:nowrap; overflow:hidden; text-overflow:ellipsis; table-layout:fixed;}
.css_textCursor {cursor:pointer;}

/* developer defined section */
.max40bytes {/*max-width:291px;*/ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.maxVsNameNetworkMap {/*max-width:210px;*/}
.maxVsNameVsMonitor {max-width:208px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block; vertical-align: bottom;}
.maxVsNameVsMonitorDetail {/*max-width:200px;*/ white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block; vertical-align: bottom;}
.maxVsNameSystemAdmin {<!--max-width:132px;--> white-space:nowrap; overflow:hidden; text-overflow:ellipsis;display: inline-block; vertical-align: bottom;}
.loading_bar {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 99;
  /* background: transparent url('../imgs/common/ajax-loader.gif') no-repeat 50% 50%; */
  background: transparent url('../imgs/common/ajax-loading.gif') no-repeat 50% 50%;
}