/*!
 * ADCsmart AX 전용으로 date Date Range Picker 에 필요한 클래스만  추가됨   (2015.02.27) 
 */

table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

.table-condensed th,
.table-condensed td { 
	padding: 1px 5px;
}

.icon-arrow-right {
	font-family: arial,'돋움',Dotum,Sans-serif;	
	font-style: normal;
	font-size: 12px;
}

.icon-arrow-left {
	font-family: arial,'돋움',Dotum,Sans-serif;	
	font-style: normal;
	font-size: 12px;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
	        border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.dropdown-menu .divider {
	*width: 100%;
	height: 1px;
	margin: 9px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 20px;
	color: #333333;
	white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	color: #ffffff;
	text-decoration: none;
	background-color: #27a0e5;
	background-image: -moz-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fa4e7), to(#1a99e2));
	background-image: -webkit-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: -o-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: linear-gradient(to bottom, #2fa4e7, #1a99e2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2fa4e7', endColorstr='#ff1a99e2', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #27a0e5;
	background-image: -moz-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fa4e7), to(#1a99e2));
	background-image: -webkit-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: -o-linear-gradient(top, #2fa4e7, #1a99e2);
	background-image: linear-gradient(to bottom, #2fa4e7, #1a99e2);
	background-repeat: repeat-x;
	outline: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2fa4e7', endColorstr='#ff1a99e2', GradientType=0);
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
	text-decoration: none;
	cursor: default;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/*!
 * Stylesheet for the Date Range Picker, for use with Bootstrap 3.x
 *
 * Copyright 2013-2015 Dan Grossman ( http://www.dangrossman.info )
 * Licensed under the MIT license. See http://www.opensource.org/licenses/mit-license.php
 *
 * Built for http://www.improvely.com
 */

 .daterangepicker.dropdown-menu {
	max-width: none;
	z-index: 3000;
}

.daterangepicker.opensleft .ranges, .daterangepicker.opensleft .calendar {
	float: left;
	margin: 4px;
}

.daterangepicker.opensright .ranges, .daterangepicker.opensright .calendar,
.daterangepicker.openscenter .ranges, .daterangepicker.openscenter .calendar {
	float: right;
	margin: 4px;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar {
	float: none;
}

.daterangepicker .ranges {
	text-align: left;
	width: 254px;  
}

.daterangepicker .ranges .range_inputs>div {
	float: left;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2) {
	padding-left: 15px;
}

.daterangepicker .calendar {
	display: none;
	max-width: 270px;
}

.daterangepicker.show-calendar .calendar {
    display: block;
}

.daterangepicker .calendar.single .calendar-date {
	border: none;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
	font-family: arial,'돋움',Dotum,Sans-serif;
	white-space: nowrap;
	text-align: center;
}

.daterangepicker .daterangepicker_start_input label,
.daterangepicker .daterangepicker_end_input label {
	color: #333;
	display: block;
	font-size: 11px;
	font-weight: normal;
	height: 20px;
	line-height: 20px;
	margin-bottom: 2px;
	text-shadow: #fff 1px 1px 0px;
	text-transform: uppercase;
	width: 74px;
	margin-top: 10px;	
}

.daterangepicker .ranges input {
	font-size: 11px;
}

.daterangepicker .ranges .input-mini {
	border: 1px solid #999;
	color: #555;
	display: block;
	font-size: 12px;
	height: 20px;
	line-height: 16px;
	vertical-align: middle;
	margin: 0 0 10px 0;
	padding: 0 6px;
	width: 105px;     
}

.daterangepicker .ranges ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.daterangepicker .ranges li {
font-size: 12px;
background: #f5f5f5;
border: 1px solid #f5f5f5;
color: #08c;
padding: 3px 6px;
margin-bottom: 3px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
cursor: pointer;
width: 107px;
display: inline-block;
margin: 0px 3px 3px 3px;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
	background: #08c;
	border: 1px solid #08c;
	color: #fff;
}

.daterangepicker .calendar-date {
	border: 1px solid #ddd;
	padding: 4px;
	border-radius: 4px;
	background: #fff;
}

.daterangepicker .calendar-time {
	text-align: center;
	margin: 7px auto 0 auto;
	line-height: 26px;
}

.daterangepicker {
	position: absolute;
	background: #fff;
	top: 100px;
	left: 20px;
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.daterangepicker.opensleft:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.daterangepicker.opensleft:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker.openscenter:before {
	position: absolute;
	top: -7px;
	left: 0;  
	right: 0;
	width: 0;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.daterangepicker.openscenter:after {
	position: absolute;
	top: -6px;
	left: 0;  
	right: 0;  
	width: 0;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker.opensright:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.daterangepicker.opensright:after {
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}

.daterangepicker table {
	width: 100%;
	margin: 0;
}

.daterangepicker td, .daterangepicker th {
	text-align: center;
	width: 12px;
	height: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
}

.daterangepicker td.off {
	color: #999;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
	color: #999;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
	background: #eee;
}

.daterangepicker td.in-range {
	background: #ebf4f8;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.daterangepicker td.start-date {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

.daterangepicker td.end-date {
	-webkit-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

.daterangepicker td.start-date.end-date {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
	background-color: #08c;
	border-color: #08c;
	color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
	font-size: 80%;
	color: #ccc;
}

.daterangepicker select.monthselect, .daterangepicker select.yearselect {
	font-size: 12px;
	padding: 1px;
	height: auto;
	margin: 0;
	cursor: default;
}

.daterangepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
}

.daterangepicker select.yearselect {
	width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
	width: 50px;
	margin-bottom: 0;
}

.daterangepicker_start_input {
	float: left;
}

.daterangepicker_end_input {
	float: left; 
	padding-left: 0px
}

.daterangepicker th.month {
	width: auto;
}
