
/* BASE */

div.t_fixed_header {
    font-size: 12px!important;
	position		: relative;
	margin 			: 0; 
	width			: 100%;
	font-weight		: bold;	
}

div.t_fixed_header * {
	margin			: 0;
	padding			: 0;
}

div.t_fixed_header table.head {
	position		: relative;	
}

div.t_fixed_header table {
	width			: 100%;
	table-layout 	: fixed;
	empty-cells 	: show;
	border-collapse	: collapse;
	border-spacing	: 0;
	text-align: center;
}

div.t_fixed_header table.headtable td.fillScrollbar {
	font-size		: 0px;
	-o-text-overflow: inherit; /* IE TRAFF */
	text-overflow 	: inherit; /* IE TRAFF */
}

div.t_fixed_header tr th, div.t_fixed_header tr td {
	overflow		: hidden;
	white-space		: nowrap;	
	-o-text-overflow: ellipsis;
	text-overflow 	: ellipsis;
}

div.t_fixed_header.t_fixed_header_wrap tr th, div.t_fixed_header.t_fixed_header_wrap tr td {
	white-space		: normal;
}

div.t_fixed_header div.body {
	padding			: 0;
	width			: 100%;
	overflow-x		: auto!important;	
	overflow-y		: scroll!important;}

div.t_fixed_header_main_wrapper {
	position 		: relative; 
	overflow 		: hidden; 
}

div.t_fixed_header_main_wrapper_child {
	position 		: relative; 
	width 			: 100% 
}

/* BASE THEME : UI */

div.t_fixed_header_main_wrapper.ui {
	border-width 	: 1px 1px 1px 1px;
	border-style 	: solid;
	font-weight		: normal;
    border-color: #b5b5b5;
}

div.t_fixed_header_main_wrapper.ui  div.t_fixed_header_caption {
	text-align		: center;
	font-weight		: bold;
	padding			: 0 5px;
	height			: 30px;
	line-height		: 30px;
	border-width 	: 0 0 1px 0;
	border-style 	: solid;
}

div.t_fixed_header_main_wrapper.ui  div.t_fixed_header_caption.toggle {
	border-width 	: 0;	
}

div.t_fixed_header div.headtable {
	border			: 0;	
	overflow-x		: hidden;    
	overflow-y		: auto;
	}

div.t_fixed_header.ui .body {
	border-width 	: 1px 0 0 0;
	border-style 	: solid;
	background-image : none;
    border-color: #b5b5b5;		    
}

div.t_fixed_header.ui .headtable th {
	padding			: 2px;
	text-align 		: center;
	border-width 	: 0 1px 0 0;
	border-style 	: solid;
    font-size: 12px!important;	
    /* font-family: initial; 	 */
    font-weight: bold;
}

div.t_fixed_header.ui .headtable .hover {
	cursor			: pointer;
	height			: 16px;
}

div.t_fixed_header.ui .headtable th span.ui-resize {
	background		: transparent;
	cursor			: col-resize;
	display			: inline;
	float			: right;
	height			: 20px;
	margin			: -3px -5px -5px 0;
	width			: 5px;
	z-index			: 10000;
}

div.t_fixed_header.ui div.ui-resize-ghost {
	display 		: none; 
	position 		: absolute; 
	top 			: 0; 
	width 			: 2px; 
	border			: none;
}

div.t_fixed_header.ui .body tr {
	border			: 0px;
}

div.t_fixed_header.ui .body td {
	padding			: 3px;
	text-align 		: left;
	line-height		: 20px;
}

div.t_fixed_header.ui .body tr .align_left_P10 { text-align:left; padding-left:10px;}

div.t_fixed_header.ui .body tr td {
    text-align: center;		
    border-width: 0 1px 0 0;	
    border-style: solid;
	background		: none;	
    border-bottom: 1px dotted #b5b5b5;
    border-color: #b5b5b5;
    font-size: 12px!important;	
    /* font-family:initial;	 */	
}

div.t_fixed_header.ui .body tr:last-child td {

}

div.t_fixed_header.ui.default .headtable th:last-child, div.t_fixed_header.ui.default .body td:last-child  {
	border-right-width : 0px;
}

div.t_fixed_header.ui .body td.last_td, div.t_fixed_header.ui .headtable th.last_td {
	border-right-width : 0px;
}

div.t_fixed_header_main_wrapper.ui div.pager {
	border-width	: 0 0 0 0;
	padding			: 4px 2px 2px 3px;
	overflow		: hidden;
	background-image: none;
}

div.t_fixed_header_main_wrapper.ui div.pager .button {
	float			: right;
	padding			: 4px 0;
	cursor			: pointer;
}

div.t_fixed_header_main_wrapper.ui div.pager .button.noborder {
	border-right-width : 0px;
}

div.t_fixed_header_main_wrapper.ui div.pager .button span {
	margin			: 0 4px;
}

div.t_fixed_header_main_wrapper.ui div.pager div.page_infos {
	height			: 27px;
	line-height		: 27px;
	float			: right;
	margin-right	: 10px;
	font-weight		: normal;
}
