@charset "utf-8";
/* CSS Document */
.popup_type1 {
	position:fixed;
	_position:absolute;
	left:0; top:0; Bottom:0;
	width:100%; height:100%;
	background-color:#434242;
	z-index:99; opacity:.7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	*filter:alpha(opacity=70);
}
.pop_type_wrap {
	display: none;
	position:fixed;
	_position:absolute;
	width: 494px;
	z-index: 100;
	background: url(../imgs/popup/bg_popTop.gif) repeat-x 0 0 #fff;
    border: solid 1px #225289; 
}
.pop_type_wrap h2 {
	color: #fff;
	font-weight: bold;
	cursor: default;
	font-size: 13px;
	text-indent: 16px;
	height: 14px;
	line-height: 14px;
	margin: 11px 27px 0 10px;
	color: #fff;
	background-image: url(../imgs/bullet_05.gif);
	background-repeat: no-repeat;
   /*border:1px solid #383a3e;*/
	background-position: 1px;
}
.pop_type_wrap h4{
	color: #fff;
	font-weight: bold;
	cursor: default;
	font-size: 13px;
	text-indent: 20px;
	height: 14px;
	line-height: 14px;
	margin: 11px 27px 0 10px;
	color: #FF0;
	background-image: url(../imgs/bullet_06.png);
	background-repeat: no-repeat;
	/*    border:1px solid #383a3e;*/
	background-position: 1px;
}
/*intro 보안경고*/
.pop_type_wrap h3 { margin-bottom:10px; padding:15px 2px 0 2px; font-weight:bold; height:18px; color:#444;}
.pop_type_wrap h3 select { width:130px; margin-left:5px; }
.pop_type_wrap input[type="text"] {}

.pop_type_wrap .margin_t2b2 {margin: 2px 0px 2px 0px !important;}

.pop_type_wrap .width96p {width:96% !important;}

.pop_type_wrap .width40 {width:40px !important;}
.pop_type_wrap .width50 {width:50px !important;}
.pop_type_wrap .width100 {width:100px !important;}
.pop_type_wrap .width129 {width:129px !important;}
.pop_type_wrap .width135 {width:135px !important;}
.pop_type_wrap .width250 {width:250px !important;}
.pop_type_wrap .width266 {width:266px !important;}
.pop_type_wrap .width280 {width:280px !important;}



.pop_type_wrap .pop_contents {padding:8px 8px 8px 8px; overflow-y:auto;}
.pop_type_wrap .pop_contents .center {text-align:center; }

.pop_type_wrap .pop_contentstop0 {padding:0px 8px 8px 8px; }
.pop_type_wrap .pop_contentstop0 .center {text-align:center; }

.pop_type_wrap .pop2_contents {padding:8px 8px 8px 8px;}
.pop_type_wrap .pop2_contents .description {font-size: 12px; margin-top: 12px; margin-bottom: 6px;}
.pop_type_wrap .pop2_contents .description .list  {max-height:110px; width:100%; background-color:#fff; margin-bottom: 8px; overflow-x: auto; overflow-y: auto; }
.pop_type_wrap .pop2_contents .description2 {font-size: 12px; margin-top: 12px; margin-bottom: 13px; text-align:center;}
.pop_type_wrap .pop2_contents .GroupSelectArea {margin-top: 10px; margin-bottom: -4px; text-align:right;  }
.pop_type_wrap .pop2_contents .txtblue {color:#1ba1c8;}
.pop_type_wrap .pop2_contents .item1 {background-image:url(../imgs/diagnosis/popup_item_01.png); background-repeat:no-repeat; width:388px; height:77px;margin-bottom: 3px; margin-right: 8px;	display: inline; 	float:left;	}
.pop_type_wrap .pop2_contents .item1  p {font-size: 30px; font-weight:bold; text-align:right; margin-top: 32px; margin-right: 45px; text-shadow: 1px 1px 2px #fff; color: #333;	}
.pop_type_wrap .pop2_contents .item2 {background-image:url(../imgs/diagnosis/popup_item_02.png); background-repeat:no-repeat; width:388px; height:77px;margin-bottom: 3px; display: inline; 	float:left;	}
.pop_type_wrap .pop2_contents .item2  p {font-size: 30px; font-weight:bold; text-align:right; margin-top: 32px; margin-right: 45px; text-shadow: 1px 1px 2px #fff; color: #333;	}
.pop_type_wrap .pop2_contents textarea {
	overflow-y: scroll;
	width: 770px;
	border: solid 1px #ebebeb;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 5px 0px;
	font-family: initial;
	resize:none;}

#noticePop .pop_contents {border: 1px solid #999; background-color: #f6f6f6; font-family: initial; font-size: 12px; margin-top: 26px; margin-right: 10px; margin-bottom: 5px; margin-left: 10px;}
#noticePop p {color:#222; padding:5px 0; background-image:url(../imgs/popup/samsung.png); background-position:bottom right; background-repeat:no-repeat}
#noticePop .adcsmart p {color:#222; padding:5px 0; background-image:url(../imgs/popup/adcsmart.png); background-position:bottom right; background-repeat:no-repeat}

/* 경고 팝업 _alert*/

.pop_type_wrap_alert {
	display: none;
	position:fixed;
	_position:absolute;
	width: 494px;
	z-index: 100;
	background: url(../imgs/popup/bg_popTop.gif) repeat-x 0 0 #fff;
    border: solid 1px #225289; 
}
.pop_type_wrap_alert h2 {
	color: #fff;
	font-weight: bold;
	cursor: default;
	font-size: 13px;
	text-indent: 16px;
	height: 14px;
	line-height: 14px;
	margin: 11px 27px 0 10px;
	color: #fff;
	background-image: url(../imgs/bullet_05.gif);
	background-repeat: no-repeat;
   /*border:1px solid #383a3e;*/
	background-position: 1px;
}
.pop_type_wrap_alert .pop2_contents {padding:8px 8px 8px 8px;}

/* adc 그룹관리 보기 */
.pop_type_wrap .group_add {border:1px solid #999; !important; background:#fafafa; width:464px; height:59px; padding:10px 14px 0 14px; margin-bottom:10px; margin-top:16px;}
.pop_type_wrap .group_add p {line-height:26px;} 
.pop_type_wrap .group_add p label {color:#222; width:80px; display:inline-block; font-size:12px; font-weight:bold; background:#fafafa; }
.pop_type_wrap .group_add p input[type="text"] {border:1px solid #999; height:18px; color:#222; font-weight:bold;}
.pop_type_wrap .group_add p .g_name {width:130px;}
.pop_type_wrap .group_add p .g_summ {width:290px;}
.pop_type_wrap .close {position:absolute; right:10px; top:6px;}

/* 데시보드 팝업*/
.pop_type_wrap .gragh_sessnInfo {width:813px; height:122px; padding:12px 12px 0 12px; border:1px #fff solid; background-color:#fff;}

/* Virtual Server IP 목록 */
.pop_type_wrap .sch {border-top:none !important; margin-top:26px; margin-bottom:10px;}
.pop_type_wrap .tit {margin-top:20px; margin-bottom:3px; font-weight: bold; display: inline-block; }
.pop_type_wrap .tit-rightbtn {float: right; padding-top: 16px; padding-right: 2px;}
.pop_type_wrap .sch input {width:160px; border: solid 1px #999; padding-left:4px; color:#000; }
.pop_type_wrap .sch .btn {margin-right: -4px; width:23px; }
.pop_type_wrap .sch .btn2 {	margin: 0px 0px 0px -4px; position: relative;  display: inline-block;}


.pop_type_wrap .listWrap {overflow-y:scroll; height:200px; border: thin solid #f0f0f0;}
.pop_type_wrap .listWrap1 {overflow-y:auto; max-height:300px; }
.pop_type_wrap .listWrap2 {overflow-y:auto; max-height:210px; }
.pop_type_wrap .total_popup {
	margin: 0px 0px 0px 5px;
    vertical-align: middle;
    color: #666;
    
    display: inline-block;}

/* 포트변경 */
.setport {border:1px solid #999; margin-top:26px;}
.setport span {display:inline-block; width:30%; background-color:#dbdbdb; height:36px; line-height:36px; border-right:1px solid #999; color:#444; padding-left:24px;/* text-indent:24px; */}
.setport input[type="text"] {margin-left:5px; height:20px; line-height:20px; color:#666; text-indent:5px; border:1px solid #999;}

/* 비밀번호 확인 */
.setpwd {border:1px solid #c3c3c3; margin-top:26px; border-bottom: 0px;}
.setpwd span {display:inline-block; width:30%; background-color:#f8f8f8; height:36px; line-height:36px; border-right:1px solid #c3c3c3; color:#444; padding-left:24px;/* text-indent:24px; */}
.setpwd input[type="password"] {margin-left:15px; height:20px; line-height:20px; color:#666; text-indent:5px; width:150px; border:1px solid #999;}

.setpwd_btm {border:1px solid #c3c3c3; border-top-color:#c3c3c3; }
.setpwd_btm span {display:inline-block; width:30%; background-color:#f8f8f8; height:36px; line-height:36px; border-right:1px solid #c3c3c3; color:#444; padding-left:24px;/* text-indent:24px; */}
.setpwd_btm input[type="password"] {margin-left:15px; height:20px; line-height:20px; color:#666; text-indent:5px; width:150px; border:1px solid #999;}


/* 요청자/수신자 - 수정/추가 */
.form_first {border:1px solid #aeaeae; border-bottom: 0px;}
.form_first span:first-child {display:inline-block; width:120PX; font-weight: bold; background-color:#e5e5e5;; height:36px; line-height:36px; border-right:1px solid #aeaeae; color:#444; padding-left:24px;/* text-indent:24px; */}
.form_first input[type="text"] {margin-left:15px; height:20px; line-height:20px; color:#666; text-indent:5px; width:150px; border:1px solid #999;}

.form_second {border:1px solid #aeaeae; border-bottom: 0px; }
.form_second span:first-child {display:inline-block; width:120PX; font-weight: bold; background-color:#e5e5e5;; height:36px; line-height:36px; border-right:1px solid #aeaeae; color:#444; padding-left:24px;/* text-indent:24px; */}
.form_second input[type="text"] {margin-left:15px; height:20px; line-height:20px; color:#666; text-indent:5px; width:150px; border:1px solid #999;}

.form_third {border:1px solid #aeaeae; }
.form_third span:first-child {display:inline-block; width:120PX; font-weight: bold; background-color:#e5e5e5;; height:36px; line-height:36px; border-right:1px solid #aeaeae; color:#444; padding-left:24px;/* text-indent:24px; */}
.form_third input[type="text"] {margin-left:15px; height:20px; line-height:20px; color:#666; text-indent:5px; width:150px; border:1px solid #999;}
.setcheck {vertical-align: inherit; padding: 5px 0 0 5px;}
.setaddbtn{margin-top: 15px; margin-bottom: 3px;    float: right; }

/* 실시간 세션 정보 팝업 */
.sessionPopup {display:block; width:861px;}
.pop_type_wrap .close_center {margin-top:7px; margin-bottom:10px; text-align:center}

/* Dashboard header Popup */
.ptop {width:350px; height:31px; line-height:31px; border:1px solid #999; color:#666;} 
.ptop span {display:inline-block; color:#444; font-weight:bold; padding-left:20px; /* text-indent:23px; */ width:30%; border-right:1px solid #999; background-color:#dbdbdb; margin-right:25px; } 
.popup  {display:block; position:absolute; width:380px; z-index:100; background:url(../imgs/popup/bg_popTop.gif) repeat-x 0 0 #eee; }
.popup h2  {color:#222; font-weight:bold; cursor:default; font-size:14px; text-indent:13px; font-family:initial; height:26px; line-height:26px; margin:32px 10px 0 10px; color:#e7e7e7; background-color:#5c5e62; border:1px solid #383a3e;}

/* 공지Grout 지정 팝업 */
.ptopN { height:31px; line-height:31px; border:1px solid #999; color:#666;} 
.ptopN span {display:inline-block; color:#444; font-weight:bold; padding-left:20px; /* text-indent:23px; */ width:30%; border-right:1px solid #999; background-color:#dbdbdb; margin-right:25px; } 

/* virtual Service 팝업창 리스트 크기 조절 */
.pop_type_wrap select.selectWidth150 {width:150px;}

/* 대시보드 요약 팝업 */
#dash_action h2 img {padding:0 7px 0 0;}
#dash_action h2 span.date {font-size:12px; font-weight:normal; color:#dbdbdb; margin:0 -12px 0 0;}
#dash_action .pop_contents	{margin:26px 10px 5px; padding:20px; border:1px solid #999; background-color:#f6f6f6; color:#222; text-align:center; font-size:14px; font-weight:bold; margin-bottom:10px;}
#dash_action .pop_contents li {text-align:center; height:16px;}
#dash_action .pop_contents li.guide_msg {font-family:initial; font-size:12px; font-weight:normal; color:#666;}
#dash_action .pop_contents li.guide_msg strong {font-weight:bold;}
#dash_action .btm {margin:0 0 14px 0; text-align:center;}
#dash_action .btm span {float:right; position:absolute; right:14px; margin:5px 0 0 0; font-weight:normal; font-family:initial; font-size:11px;}
#dash_action .btm span strong {font-weight:bold; color:#616161;}
.pop_type_wrap.win {display:block; }
#dash_action table {margin: 5px 0 ;	border: 1px solid #ccc;}
#dash_action .pop_contents  td {border-down: 1px solid #ccc; line-height: 20px;}
#dash_action td + td {border-left: 1px solid #ccc;}
#dash_action tr + tr {border-top: 1px solid #ccc;}	
#dash_action th {border-left: 1px solid #ccc; text-align: center; font-size: 11px; line-height: 18px; font-weight: normal;}	
#dash_action .thbg{background-color: #e5e5e5; height: 22px; font-weight: none;}
#dash_action .tdip{height: 22px; color: #333; text-align: centert; font-size: 12px; text-indent: 10px; font-weight: bold; white-space:normal;}
#dash_action .tdname{height: 22px; color:#C30; text-align: left; font-size: 12px; font-weight: bold; white-space:normal;}

/* developer defined section */
#dash_action h2 span.date {color:white;}
#dash_action .pop_contents li.secondMsg {height:auto; min-height:15px;}
#dash_action .pop_contents li.faultMsg {height:45px;}

/* pool menber 일괄 추가 */
#memberAddBatch .ptop {height:31px; line-height:31px; border:1px solid #999; color:#666;} 
#memberAddBatch .ptop span {display:inline-block; color:#444; font-weight:bold; text-indent:23px; width:30%; border-right:1px solid #999; background-color:#dbdbdb; margin-right:20px;} 
#memberAddBatch .ptop input[type="text"] {height:20px; width:200px; line-height:20px; color:#666; text-indent:5px; border:1px solid #999;}
#memberAddBatch .pbtm .txt {font-size:11px; color:#666;}
#memberAddBatch  textarea {width:452px; margin:10px 0; padding:10px;}


/* version */
#version .img {
	margin-top: 31px;  
	height:70px; display:block; 
	text-align:center; 
	background-image: url(../imgs/meun/ver_img.png);
	background-repeat: no-repeat; 
	background-position: 50% 60%;}
	
#version .ver {
	margin-bottom: 26px; 
	text-align: center; 
	display:block; 
	margin-top: 3px; 	
	font-family: initial;	}
	
#version .copyright {
	margin-top: 5px;
	text-align: center;
	font-size:11px;	}
#version .copyright p {color:#494c55; }
#version .copyright a {color: #21409A;}

#version .copyright a:hover	{  color: #3d6eaa; text-decoration:none;}

