@charset "utf-8";
/* CSS Document */

/* base definitions, can be overridden via id */
.outerDiv {
	width: 100%;
	background-color: #d8ecf0;
	/* border-radius: 5px; */
	text-align: center;
	border: 1px solid ;
	border-color:#62a0c3;
}

.outerDivAvg {
	width: 100%;
	background-color: #dae9ec;
	/* border-radius: 5px; */
	text-align: center;
	border: 1px;
	border-color: black;
	border-style: outset;
}

.outerDivCurr {
	width: 100%;
	background-color: #dae9ec;
	/* border-radius: 5px; */
	text-align: center;
	border: 1px;
	border-color: black;
	border-style: outset;
}

.outerDiv span {
	color: white;
	font-weight: bold;
	position: relative;
	height: 0;
	display: block;
}

.innerDiv {
	width: 0;
	/* border-radius: 5px; */
	background-image: url("/imgs/progressChip.png");
	width: 100%;
	height: 20px;
}

.innerDiv_prev {
	width: 0;
	/* border-radius: 5px; */
	background-image: url("/imgs/progressChip_p.png");
	width: 100%;
	height: 20px;
}

.innerDiv_avg {
	width: 0;
	/* border-radius: 5px; */
	background-image: url("/imgs/progressChip_g.png");
	width: 100%;
	height: 20px;
}

.innerDiv_curr {
	width: 0;
	/* border-radius: 5px; */
	background-image: url("/imgs/progressChip_b.png");
	width: 100%;
	height: 20px;
}