
.cpu01 a:visited, .cpu02 a:visited, .cpu03 a:visited, .cpu04 a:visited{ color: #333; text-decoration:none;}
.cpu01 a:active, .cpu02 a:active, .cpu03 a:active, .cpu04 a:active{ color: #333; text-decoration:none;}
.cpu01 a:hover, .cpu02 a:hover, .cpu03 a:hover, .cpu04 a:hover{  color: #fff; text-decoration:none;}
.cpu01 a:link, .cpu02 a:link, .cpu03 a:link, .cpu04 a:link	{  color: #333; text-decoration:none;}



/*적용 코드 */

a.tooltip{
  position: relative;
  display: inline;
}
a.tooltip:after{
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 20%;
  opacity: 0;
  content: attr(data-tool); /* might also use attr(title) */
  height: auto;
  min-width: 180px;
  padding: 5px 8px;
  z-index: 99;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.85);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.3;
}
 
a.tooltip:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0px;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}
a.tooltip:hover:after{ visibility: visible; opacity: 1; bottom: 20px; }
a.tooltip:hover:before{ visibility: visible; opacity: 1; bottom: 14px; }

/* tips on bottom */
a.tooltip.bottom:after { bottom: auto; top: 0; }
a.tooltip.bottom:hover:after { top: 28px; }
a.tooltip.bottom:before {
  border-width: 0 5px 8.7px 5px;
  border-color: transparent transparent rgba(0,0,0,0.85) transparent;
  top: 0px
}
a.tooltip.bottom:hover:before { top: 20px; }

a.tooltip.animate:after, a.tooltip.animate:before {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


/* tooltip colors (add your own!) */
a.tooltip.green:after { 
	background-color: rgba(8,130,8,0.9);}
a.tooltip.green:before { 
 	border-color: rgba(8,130,8,0.9) transparent transparent transparent;}
a.tooltip.bottom.green:before{ border-color: transparent transparent rgba(8,130,8,0.9) transparent; }

a.tooltip.red:after { 
	background-color: rgba(175,44,14,0.9);}
a.tooltip.red:before { 
 	border-color: rgba(175,44,14,0.9) transparent transparent transparent;} 
a.tooltip.bottom.red:before{ border-color: transparent transparent rgba(175,44,14,0.9) transparent; }
 	
a.tooltip.black:after { 
	background-color: rgba(58,58,58,0.9);}
a.tooltip.black:before { 
 	border-color: rgba(58,58,58,0.9) transparent transparent transparent;} 	 	
a.tooltip.bottom.black:before{ border-color: transparent transparent rgba(58,58,58,0.9) transparent; } 	
