
<!-- angular 라이브러리  -->
		<script type="text/javascript" src="/js/extern/angular.min.js"></script>
		<!-- controller include -->
		<script type="text/javascript" src="/js/tools/sysViewDump.js"></script>
		
<!-- 합쳐지고 최소화된 최신 CSS -->
<!-- 		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		부가적인 테마
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"> -->
		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

<div class="contents_area">
	<div>
		<!-- <img src="imgs/title${img_lang!""}/h3_userList.gif" class="title_h3"/> -->
		<!-- SysViewLog DumpDownload -->
	</div>
	
	<div data-ng-app="MyApp">
    	<div data-ng-controller="SysViewController">
    	
    		<table class="Board" cellpadding="0" cellspacing="0">	
				<colgroup>
					<col width="260px"/>
					<col>
				</colgroup>
				<tr>
					<td colspan="2" class="StartLine"></td>
				</tr>						
				<tr>
					<th class="Lth1">
						<input ng-click="startDump()" type="button" class="startDump Btn_white" value="Dump Start" flag="1"/>
					</th>
					<td class="Lth0">
						<input ng-click="runDumpDownload()" type="button" class="runDumpDownload Btn_white" disabled="disabled" value="Dump Download"/>
					</td>
				</tr>
				<tr class="EndLine2">
					<td colspan="2"></td>
			    </tr>
			</table> 
    	<!-- 
    		<div class="control_Board">	
				<span class="btn">				
					<button ng-click="startDump()" class="btn btn-sm btn-info startDump">
						<img src="imgs/diagnosis/btn_packet_start.png" alt="시작">
						dump start
					</button>
				</span>	
			</div>
			<div>				
				<span>
					<div class="downloadFile" value="0">
						<button type="button" ng-click="runDumpDownload()" class="btn btn-sm btn-info" disabled="disabled">dump download</button> 			
				    </div>
			    </span>				
			</div>  
			 -->
	    </div>	    	
	</div>
</div>	